.title-container {
  display: flex;
  align-items: center;

  span {
    color: lightgrey;
    margin-left: 10px;
    cursor: pointer;
  }
}

.products-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}
